my-gray {
    color: gray;
}

my-skyblue {
    color: skyblue;
}

my-orange {
    color: #fecb81;
}

#global_navi div div ul li.current a { 
    color: white;
}

#global_navi div div ul li ul.drop a { 
    color: black;
}
