#global_navi ul {
    list-style: none;
/*
    margin: 100;
    padding: 100;
*/
}

#global_navi .current {
    color: white;
}

/*
current2削除 
*/

#global_navi .drop {
    color: black;
}

.my-gray {color: gray}